<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Просмотр изображений</title>
</head>
<body>
    <div class="container">
        <h1>Конфигурация</h1>
        <button onclick="window.location.href='{{ url_for('index') }}'">Вернуться назад</button>
        <p class="{{ 'online' if is_running else 'offline' }}">
            {{ 'Онлайн' if is_running else 'Оффлайн' }}
        </p>
        <form action="{{ url_for('toggle_timelapse') }}" method="POST">
            <button type="submit">
                {{ 'Остановить' if is_running else 'Запустить' }}
            </button>
        </form>
    </div>
</body>
</html>